<input pInputText type="text" (input)="datatable.filter($event.target.value, 'name', 'contains')">
<p-table [value]="books" #datatable [rows]="10" [paginator]="true">
    <ng-template pTemplate="header">
        <tr>
            <th>Nome</th>
            <th>Autor</th>
            <th>Preço em Dolar</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-book>
        <tr>
            <td>{{ book.name }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.price }}</td>
        </tr>
    </ng-template>
</p-table>